// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// HTML
//

IDR_MAIN_LAYOUT         HTML                    "main.htm"

/////////////////////////////////////////////////////////////////////////////
